@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');
@import 'responsive.scss';
$yellow: #e6e308;
$dark-grey: #393939;
$white: #ffffff;
$cabin: 'Cabin', sans-serif;
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  color: $dark-grey;
  font-family: $cabin;
  overflow-x: hidden;
  height: 100%;
  font-weight: 600;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}
a,
button{
  text-decoration: none;
  border: 0;
  &:focus,
  &:hover{
    outline: none;
    text-decoration: none;
  }
}
img{
  max-width: 100%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@mixin primary-btn{
  background: $dark-grey;
  color: $yellow;
  padding: 0.5rem 0.7rem 0.7rem;
  border-radius: 24px;
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
}
// standard form style
@mixin primary-form{
  form{
    input,
    select,
    textarea{
      width: 100%;
      height: 40px;
      border-radius: 3px;
      padding-left: 10px;
      border: 0;
      background: #eee;
      border: 1px solid transparent;
      &:focus{
        background: $white;
        border: 1px solid $yellow!important;
        outline: 1px $yellow;
        box-shadow: none!important;
      }
    }
    a,
    button{
      @include primary-btn;
      width: 100%;
    }
  }
}
// standard form style
.container-fluid{
  padding: 0!important;
}
header{
  position: relative;
  height: 100%;
  &.heightvh{
    height: 100vh;
  }
  .back-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    h1{
      color: $yellow;
      font-size: 5rem;
      text-transform: uppercase;
    }
  }
  .header-section{
    height: 100%;
    .row{
      // height: 100%;
      .header-left{
        background: $yellow;
        height: 100vh;
        padding-top: 1rem;
        position: fixed;
        width: 25%;
        z-index: 5;
        &.not-fixed{
          position: relative!important;
          width: 100%;
        }
        .menu-bar{
          position: absolute;
          display: inline-block;
          top: 2rem;
          left: 2rem;
          cursor: pointer;
          transition: width .4s;
          span{
            display: inline-block;
            width: 2rem;
            height: .1rem;
            background: $dark-grey;
            transition: width .3s ease-in-out;
            &:before,
            &:after{
              content: '';
              position: absolute;
              background: $dark-grey;
              display: inline-block;
              width: 2.5rem;
              height: .1rem;
              transition: .3s ease-in-out;
            }
            &:before{
              top: .4rem;
            }
            &:after{
              bottom: -0.1rem;
            }
          }
          &:hover .bars{
            width: 2.5rem;
          }
          &:hover .bars:after,
          &:hover .bars:before{
            width: 2rem;
          }
        }
        .logo{
          margin-top: .3rem;
          h1{
            font-size: 3rem;
            font-weight: 700;
            text-align: center;
          }
        }
        .header-text{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          .typed-cursor{
            opacity: 0!important;
          }
          h1{
            font-size: 3vw;
            font-weight: 700;
            text-transform: capitalize;
          }
        }
        .header-btn{
          display: inline-block;
          margin-top: 1.5rem;
          // position: absolute;
          // top: 63%;
          // left: 31%;
          // transform: translate(-50%, -50%);
          button{
            @include primary-btn;
          }
        }
        .menu-side-overlay{
          position: absolute;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100%;
          background: rgba($dark-grey,0.8);
          transition: .5s cubic-bezier(0.91, 0.34, 0, 0.94);
          z-index: 99;
          overflow: hidden;
          opacity: 0;
          &.menu-active{
            left: 0%;
            opacity: 1;
          }
          .close-menu-icon{
            position: absolute;
            top: 3.5%;
            left: 7%;
            cursor: pointer;
            z-index: 100;
            .fa-times-circle{
              color: #d32f2f;
              font-size: 2rem;
            }
          }
          .menu-bar-wrapper{
            position: relative;
            .menu-links{
              &.inner{
                padding: 1rem;
                li{
                  font-size: 1.4vw;
                  letter-spacing: 1px;
                  line-height: 2.8rem;
                }
              }
              position: absolute;
              top: 10vh;
              left: 10%;
              padding: 5rem;
              ul{
                padding-left: 0;
                li{
                  list-style-type: none;
                  font-size: 2.5rem;
                  text-transform: uppercase;
                  letter-spacing: 1.5px;
                  line-height: 4rem;
                  text-shadow:4px 3px 17px rgba(25, 22, 22, 0.74);
                  transition: .3s;
                  white-space: nowrap;
                  a{
                    color: $yellow;
                    position: relative;
                    padding: 0 1.5rem;
                    &:hover:before,
                    &:hover:after{
                      transform: translate(0, 0);
                      opacity: 1;
                    }
                    &:before,
                    &:after{
                      height: 14px;
                      width: 14px;
                      position: absolute;
                      transition: all .35s ease;
                      opacity: 0;
                    }
                    &:before{
                      content: ']';
                      right: 0;
                      transform: translate(-100%, 0);
                    }
                    &:after{
                      content: '[';
                      left: 0;
                      transform: translate(100%, 0);
                    }
                  }
                }
              }
            }
          }
        }
      }
      .header-right{
        background: transparent;
        // overflow: hidden;
        &.main-header{
          background: $dark-grey;
          height: 100%;
        }
        .login-link{
          position: absolute;
          top: 2rem;
          right: 3rem;
          background: $dark-grey;
          padding: .5rem;
          border-radius: .7rem;
          a{
            color: $yellow;
            font-weight: 700;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        // login-signup-form
        .login-register-wrapper{
          position: absolute;
          top: 0;
          right: -100%;
          width: 100%;
          height: 100%;
          background: rgba($dark-grey,0.8);
          transition: .5s cubic-bezier(0.91, 0.34, 0, 0.94);
          z-index: 99;
          overflow-y: scroll;
          opacity: 0;
          &.login-active{
            right: 0%;
            opacity: 1;
          }
          .close-login-icon{
            position: absolute;
            top: 3.5%;
            right: 7%;
            cursor: pointer;
            z-index: 100;
            .fa-times-circle{
              color: #d32f2f;
              font-size: 2rem;
            }
          }
          .login-form{
            position: absolute;
            top: 12vh;
            left: 50%;
            // width: 320px;
            transform: translate(-50%);
            .form-title{
              text-align: center;
              margin-bottom: 3rem;
              h1{
                font-size: 3rem;
                font-weight: 700;
                color: $yellow;
                position: relative;
                display: inline;
                text-transform: capitalize;

              }
            }
            form{
              &.login-sec{
                height: 215px;
              }
              &.signup-sec{
                height: 460px;
                .help-text{
                  color: $yellow;
                  font-weight: 300;
                  font-style: italic;
                }
              }
              .form-field{
                width: 100%;
                margin-bottom: 1.5rem;
                position: relative;
                label{
                  color: #ff4b4b;
                  font-size: 14px;
                  font-style: italic;
                }
                input,
                select{
                  width: 100%;
                  height: 40px;
                  padding-left: .8rem;
                  border: 1px solid $yellow;
                  border-radius: 4px;
                  background: darken($dark-grey, 5);
                  color: $yellow;
                  &:focus{
                    outline: 0;
                  }
                  &.error{
                    border: 1px solid #dc3545!important;
                  }
                }
                .fa-asterisk{
                  position: absolute;
                  top: 35%;
                  right: -20px;
                  color: #d32f2f;
                  font-size: 10px;
                  cursor: pointer;
                  &:after{
                    content: 'Field is required';
                    position: absolute;
                    background: #d32f2f;
                    color: #fff;
                    top: -11px;
                    left: 23px;
                    font-size: 14px;
                    width: 110px;
                    height: auto;
                    padding: 9px 0;
                    text-align: center;
                    opacity: 0;
                    display: inline;
                    transition: .3s;
                  }
                  &:hover:after{
                    opacity: 1;
                  }
                }
                .fa-eye{
                  color: $yellow;
                  position: absolute;
                  right: 14px;
                  top: 11px;
                  cursor: pointer;
                }
              }
              button{
                @include primary-btn;
                padding: 0.5rem 2rem 0.7rem!important;
                border: 1px solid #e6e308;
                float: right;
                margin-top: 0.2rem;
              }
            }
            .external-login{
              text-align: center;
              margin-top: 16vh;
              p{
                color: lighten($dark-grey,40);
              }
              .social-login{
                display: inline;;
                a{
                  border: 1px solid $yellow;
                  border-radius: 4px;
                  color: $yellow;
                  padding: 7px 30px;
                }
              }
            }
            .ask-signup{
              text-align: center;
              margin-top: 1.5rem;
              &.mt-lgg{
                margin-top: 12vh!important
              }
              p{
                color: lighten($dark-grey,40);
                a{
                  color: $yellow;
                  font-weight: 600;
                  &:hover{
                    text-decoration: underline!important;
                  }
                }
              }
            }
          }
        }
        // login-signup-form
        .header-img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translatey(-50%);
          animation: float 4s ease-in-out infinite;
          img{
            width: 100%;
          }
          @keyframes float {
            0% {
              transform: translateX(-50%) translatey(-50%);
            }
            50% {
              transform:
              translateX(-50%) translatey(-45%);
            }
            100% {
              transform:
              translateX(-50%) translatey(-50%);
            }
          }
        }

        // .stepper

        // .stepper

      }
    }
  }
  .scroll {
    height: 50px;
    width: 30px;
    border-radius: 25px;
    border: 3px solid $dark-grey;
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    transition: opacity .3s;
    &:before {
      content: '';
      position: absolute;
      left: 36.5%;
      top: 10%;
      height: 8px;
      width: 8px;
      background: $dark-grey;
      border-radius: 50%;
      animation: scroll 2s infinite;
      transform: translate(-50%);
    }
    &.scroll-remove{
      opacity: 0;
    }
  }
  @keyframes scroll {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
      transform: translateY(0);
    }
    40% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }
}

// about-section
.about-section{
  padding-top: 3rem;
  .about-main-img{

  }
  .about-content{
    width: 80%;
    padding: 2rem;
    h1{
      font-weight: 700;
      font-size: 3rem;
      text-transform: capitalize;
    }
    p{
      font-weight: 600;
      font-size: 18px;
    }
  }
}
// about-section

// promotional-sec
.promotional-section{
  background: $yellow;
  text-align: center;
  padding: 4rem 0;
  // margin-bottom: 7rem;
  .promotional-content{
    width: 70%;
    margin: 0 auto;
    h1{
      text-transform: capitalize;
      font-weight: 700;
      font-size: 3rem;
    }
    .promotional-img{
      margin: 5rem 0;
      img{
        width: 30%;
      }
    }
    .promotional-btn{
      margin-top: 1.5rem;
      a{
        @include primary-btn;
      }
    }
  }
}
// promotional-sec
// best-sellers
.best-sellers{
  margin-bottom: 7rem;
  padding: 3rem 0;
  background: lighten($dark-grey,70);
  .product-title{
    text-align: center;
    margin: 3rem 0;
    h1{
      text-transform: capitalize;
      font-weight: 700;
      font-size: 3rem;
    }
  }
  .product-box{
    text-align: center;
    img{
      width: 80%;
    }
    .product-box-content{
      margin-top: 3rem;
      h4{
        margin: 1.5rem 0;
        font-weight: 700;
      }
      .addtocart-btn{
        a{
          @include primary-btn;
        }
      }
    }
  }
}
// best-sellers
// certificates
.certificates{
  margin-bottom: 7rem;
  .certificate-title{
    text-align: center;
    margin: 3rem 0 1rem;
    h1{
      text-transform: capitalize;
      font-weight: 700;
      font-size: 3rem;
    }

  }
  img{
    width: 90%;
  }
  .certificate-text{
    text-align: center;
    margin-top: 3rem;
    p{

    }
  }
}
// certificates
// footer
footer{
  background: $dark-grey;
  padding: 4rem 0 2rem;
  border-top: 2px solid $yellow;
  margin-top: 1.5rem;
  z-index: 4;
  .footer-links{
    text-align: center;
    h4{
      color: $yellow;
      text-transform: capitalize;
    }
    ul{
      padding-left: 0;
      li{
        list-style-type: none;
        text-transform: capitalize;
        font-size: 20px;
        a{
          color: $white;
        }
      }
    }
  }
  .footer-logo{
    text-align: center;
    margin-top: 1.5rem;
    h1{
      color: $yellow;
      font-weight: 700;
      font-size: 4rem;
    }
  }
  .copyright{
    text-align: center;
    p{
      color: $white;
    }
  }
}

.circle-icon {
  background: #000;
  border: 1px solid $white;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 1rem;
  color: $white;
  margin-right: 0.7rem;
}
// footer

// products page
.products-section-wrapper{
  .products-title{
    text-align: center;
    margin: 3rem 0 1rem;
    h1{
      text-transform: capitalize;
      font-weight: 700;
      font-size: 3rem;
    }
  }
  margin-top: 4rem;
  position: relative;
  .product-tabs{
    .cat-btns{
      ul{
        border-bottom: 0;
        li{
          a{
            background: transparent;
            color: $dark-grey;
            border: 1px solid $dark-grey;
            border-radius: 25px;
            &.active{
              background: $dark-grey;
              color: $yellow;
            }
          }
        }
      }
    }
  }
  .product-bg{
    background: #efefef;
    border: 1px solid lighten($dark-grey,50);
    margin: 2rem 0;
    padding: 2rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    opacity: 0;
    &.product-visible{
      animation: pro-vis 200ms ease-in forwards;
    }
    @keyframes pro-vis {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    .product-box{

      .product-img{
        margin: 1rem 0 2rem;
        padding-bottom: 1rem;

      }
      .product-name{
        padding: 1rem 7px;
        h5{
          text-transform: capitalize;
          padding-bottom: 4px;
          font-weight: 700;
          text-align: left;
          border-bottom: 1px solid lighten($dark-grey,50);
        }
      }
      .price-wishlist{
        text-align: center;
        margin: 0 auto;
        .col{
          padding-left: 2px!important;
          padding-right: 2px !important;
        }
        button{
          background: transparent;
          border: 1px solid $dark-grey;
          border-radius: 24px;
          padding: 0.5rem 0.7rem 0.7rem;
          text-transform: capitalize;
          font-weight: 700;
          width: 100%;
          white-space: nowrap;
          cursor: pointer;
        }
        .added-to-wishlist{
          color: #ed2939;
        }
      }
      .addtocart-btn{
        text-align: center;
        margin-top: 1.5rem;
        a{
          @include primary-btn;
          display: block;
          width: 100%;
        }
      }
    }
  }
}
// products page

// privacy and terms
.privacy-terms-section{
  margin-top: 3rem;
  .privacy-terms-title{
    text-align: center;
    margin: 3rem 0 1rem;
    h1{
      text-transform: capitalize;
      font-weight: 700;
      font-size: 3rem;
    }
  }
  .terms-privacy{
    ul{
      li{
        line-height: 36px;
      }
    }
  }
}
// privacy and terms
// .payment-results-page
.paypal-results{
  text-align: center;
  height: 80vh;
  // display: flex;
  align-items: flex-start;
  justify-content: center;
  .paypal-notification{
    margin-top: 2rem;
    .success-img{
      img{
        margin-bottom: 1rem;
      }
    }
    a{
      text-decoration: underline;
    }
  }
}
// .payment-results-page
// cart-page
.cart-section{
  padding: 0 2rem 1rem 2rem;
  margin-top: 7rem;
  min-height: 80vh;
  .cart-title{
    text-align: center;
    margin: 3rem 0 1rem;
    h1{
      text-transform: capitalize;
      font-weight: 700;
      font-size: 3rem;
    }
  }
  .table-responsive{
    background: $white;
    border: 1px solid $dark-grey;
  }
  .form{
    .input-group{
      align-items: center;
      justify-content: center;
    }
    label{
      color: $white;
    }
    input.input-number {
      width: 15%;
      text-align: center;
    }
    button {
      color: #fff;
      background-color: $white;
      padding: 3px 8px;
      border: 0;
      cursor: pointer;
      color: $dark-grey;
      &.btn-inc-dec{
        background: $dark-grey!important;
        color: $white;
      }
    }
    .form-group {
      margin-bottom: .5rem;
    }
    label {
      margin-bottom: .2rem;
    }
  }

  .upper-cart-popup table {
    background: transparent !important;
    margin-bottom: 0!important;
  }
  .table td {
    .item-img{
      display: flex;
      align-items: center;
      img{
        width: 91px;
        margin-right: 1.5rem;
      }
    }
    .fa-times-circle{
      color: red;
      cursor: pointer;
    }
  }
  .table thead{
    background: $dark-grey;
    th{
      text-transform: uppercase;
      color: $white;
    }
  }

  .btn-light{
    background: brown !important;
    display: inline;
    border-radius: 25px;
    border: 1px solid $white;
    padding: 7px 30px;
    text-transform: uppercase;
    color: $white;
  }
  .duo-btn{
    padding: 3rem 0;
    .row .col-lg-6:first-child{
      text-align: left;
    }
    .row .col-lg-6:last-child{
      text-align: right;
    }
    button, a, input[type=submit]{
      @include primary-btn;
      border: 0;
    }
  }
  .cart-table td, .table th{
    border-top: 0;
    text-align: center;
    vertical-align: middle;
  }


  .bottom-btn{
    padding: 3rem 0 4rem;
    a,button{
      @include primary-btn;
      float: right;
    }
  }
  .content-box{
    margin-bottom: 3rem;
    overflow: hidden;
    border: 1px solid $dark-grey;
    .box-title{
      background: $dark-grey;
      padding: 1rem;
      h3{
        text-transform: uppercase;
        color: $white;
        margin-bottom: 0;
        font-size: 20px;
        display: inline-block;
      }
      a{
        color: $yellow;
        background: transparent;
        text-transform: uppercase;
        float: right;
      }
    }
    .row{
      padding: 2rem;
      background: $white;
      // margin-bottom: 3rem;
      h4, p{
        text-transform: uppercase;
        color: $dark-grey;
        margin-bottom: 1rem;
        width: 100%;
      }
      // & .col-lg-6:last-child{
      //   text-align: right;
      // }
      .col-lg-12{
        a{
          @include primary-btn;
          float: right;
        }
      }
      ul{
        padding-left: 0;
        list-style-type: none;
        li{
          color: $dark-grey;
        }
      }
    }
    .address{
      a{
        @include primary-btn;
        display: inline-block;
        margin-top: 1rem;
      }
      select{
        background: transparent;
        border: 1px solid $white;

      }
    }
  }
  .contact-form{
    @include primary-form;
  }
  .method{
    .custom-control-label::before {
      position: absolute;
      top: .25rem;
      left: 0;
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      pointer-events: none;
      content: "";
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #dee2e6;
    }
    .custom-control-label::after {
      position: absolute;
      top: .25rem;
      left: 0;
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      content: "";
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
    .custom-radio .custom-control-input:checked~.custom-control-label::after {
      background: $yellow;
      border-radius: 50%;
      border: 3px solid #fff;
    }
    img{
      margin-left: 23px;
      margin-bottom: 23px;
    }
    .custom-control{
      margin-top: 4rem;
    }
    .sh-note{
      .ups-text {
        margin-top: 3rem;
        h3{
          text-transform: uppercase;
          font-size: 1.3rem;
        }
      }
      .ems-text {
        h3{
          text-transform: uppercase;
          font-size: 1.3rem;
        }
        .theme-text{
          color: $yellow;
        }
      }
    }
    .shipping-free{
      text-align: center;
      h2{
        color: $yellow;
      }
    }
  }
  .form-deliver{
    padding: 1rem;
    background: $white;
    label{
      color: #000000;
    }
    .profile-p{
      font-size: 20px;
    }
    .update-profile {
      @include primary-btn;
      .fa-cog{
        transition: .5s;
      }
      &:hover{
        .fa-cog{
          transform: rotate(25deg);
        }
      }
    }
  }
  // profile page
}

// toast css
html,
body {
  height: 100%;
}
.visi-visible{
  visibility: visible!important;
}
.container-toast {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 2%;
  top: 10%;
  z-index: 10;
  visibility: hidden;
}

.rectangle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 50px;
  height: 50px;
  background: $yellow;
  transform: scale(0);
  border-radius: 50%;
  color: $dark-grey;
  opacity: 0;
  overflow: hidden;
  &.anim-toast{
    animation: scale-in .3s ease-out forwards,
    expand .35s .25s ease-out forwards;
  }
}

.notification-text {
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  &.anim-text{
    animation: fade-in 1s ease-in forwards;
  }
  span{
    margin-right: 1.8rem;
  }
  .fa-times{
    cursor: pointer;
  }
}

@keyframes scale-in {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes expand {
  50% {
    width: 350px;
    border-radius: 6px;
  }
  100% {
    width: 300px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2),
    0px 1px 1px 0px rgba(0,0,0,.14),
    0px 3px 3px -1px rgba(0,0,0,.12);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}

// toast css
// cart-page
// modals styling
.all-modals-style{
  .popup-inner{
    .close-btn{
      position: absolute;
      right: 0;
      i{
        cursor: pointer;
      }
    }
    .popup-title{
      float: left;
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
      h4{
        text-transform: capitalize;
      }
    }
    .general-form{
      width: 100%;
      @include primary-form;
    }
  }
}
// modals styling

// contact-page
.contact-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%,-50%);
  padding: 1.5rem;
  border-radius: 10px;
  transition: .5s all ease-in-out;
  &.contact-box-shodow{
    box-shadow: -5px -4px 28px rgb(249, 242, 242), 2px 9px 19px 1px rgb(206, 206, 206);
    -webkit-box-shadow: -5px -4px 28px rgb(249, 242, 242), 2px 9px 19px 1px rgb(206, 206, 206);
    transform: translate(-50%,-52%);
    transition: .5s all ease-in-out;
  }
  .contact-form{
    .form-field{
      margin-bottom: 1rem;
      textarea{
        height: auto!important;
        resize: none;
      }
    }
  }
  #map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
// contact-page


// responsive

// responsive
